table {
    min-width: 800px;
    min-height: 200px;
    margin: auto;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
}

input {
    background-color: #34415a;
    border-style: none;
    border-radius: 8px;
    height: 40px;
    width: auto;
}

input::placeholder {
    color: azure;
    padding: 10px;
    opacity: 60%;
    font-style: italic;
}

input:focus {
    color: white;
    padding: 10px;
}

.filter-menu {
    margin-top: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color: #23252a;
    border-radius: 10px;
}

.search {
    width: auto;
}

.character-content {
    margin-top: 20px;
    padding: 30px;
    background-color: #23252a;
    border-radius: 10px;
}

.preview-image {
    margin-top: 20px;
    padding: 30px;
    background-color: #23252a;
    border-radius: 10px;
    width: 340px;
    height: 680px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.element-button {
    border-radius: 10px;
    padding: 5px;
    margin: 4px;
    background-color: black;
    border: 2px #23252a;
    color: white;
    border-style: solid;
}

.element-button:hover {
    border-color: #465b84;
}
