@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}

.control-label {
    text-align: left;
}

.form-container {
    margin: auto;
    border-radius: 5%;
    background-color: coral;
    height: auto;
    width: auto;
    max-width: 60%;
}

.form-button {
    flex-direction: column;
    align-items: center;
    max-width: 100px;
}